<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sadokey.tourism_guide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Registration" />
        <activity android:name=".Activity.AddOffers" />
        <activity android:name=".Activity.loginSetup" />
        <activity android:name=".Activity.ProblemPreview" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Activity.addPlaces" />
        <activity android:name=".Activity.addAdmin" />
        <activity android:name=".Activity.OffersEditDeleteProcess" />
        <activity android:name=".Activity.addMembers" />
        <activity android:name=".Activity.PlacesEditProcessing"></activity>
    </application>

</manifest>